<div class="form_item_block">
  <label>Webhook URL:<span class="asterisk">*</span></label>
  <input type="text" ng-model="WebhookUrl" ng-required="true">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[WebhookUrl].$error.server">
    {{ GOINPUTNAME[WebhookUrl].$error.server }}
  </span>
</div>
<div class="form_item_block">
  <label>Channel:</label>
  <input type="text" ng-model="Channel" ng-required="false">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[Channel].$error.server">
    {{ GOINPUTNAME[Channel].$error.server }}
  </span>
</div>
<div class="form_item_block">
  <label>Channel type:</label>
  <div class="checkbox_row">
    <input id="channelTypeChannel" type="radio" ng-model="ChannelType" value="Channel">
    <label for="channelTypeChannel">Channel</label>
    <input id="channelTypeUser" type="radio" ng-model="ChannelType" value="User">
    <label for="channelTypeUser">User</label>
  </div>
</div>
<div class="form_item_block">
  <label>Title:</label>
  <input type="text" ng-model="Title" ng-required="false">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[Title].$error.server">
    {{ GOINPUTNAME[Title].$error.server }}
  </span>
</div>
<div class="form_item_block">
  <label>Icon or Emoji:</label>
  <input type="text" ng-model="IconOrEmoji" ng-required="false">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[IconOrEmoji].$error.server">
    {{ GOINPUTNAME[IconOrEmoji].$error.server }}
  </span>
</div>
<div class="form_item_block">
  <label>Message:</label>
  <textarea cols="50" rows="5" ng-model="Message" ng-required="false">
  </textarea>
  <span class="form_error" ng-show="GOINPUTNAME[Message].$error.server">
    {{ GOINPUTNAME[Message].$error.server }}
  </span>
</div>
<div class="form_item_block">
  <label>Display Name:</label>
  <input type="text" ng-model="DisplayName" ng-required="false">
  </input>
  <span class="form_error" ng-show="GOINPUTNAME[DisplayName].$error.server">
    {{ GOINPUTNAME[DisplayName].$error.server }}
  </span>
</div>
<div class="form_item_block">
  <label>Color:</label>
  <div class="checkbox_row">
    <input id="colorNone" type="radio" ng-model="ColorType" value="None">
    <label for="colorNone">None</label>
    <input id="colorGood" type="radio" ng-model="ColorType" value="Good">
    <label for="colorGood">Good</label>
    <input id="colorWarning" type="radio" ng-model="ColorType" value="Warning">
    <label for="colorWarning">Warning</label>
    <input id="colorDanger" type="radio" ng-model="ColorType" value="Danger">
    <label for="colorDanger">Danger</label>
    <input id="colorCustom" type="radio" ng-model="ColorType" value="Custom">
    <label for="colorCustom">Custom</label>
  </div>
</div>
<div class="form_item_block">
  <label>Custom Color:</label>
  <input type="text" id="customColor" ng-model="Color" ng-disabled="ColorType != 'Custom'">
</div>
