<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="slack.task" version="1">
    <about>
        <name>Slack Task Plugin</name>
        <version>0.1</version>
        <target-go-version>15.1.0</target-go-version>
        <description>
           Task plugin that supports sending messages to Slack from Go jobs
        </description>
        <vendor>
            <name>Juha Siponen</name>
            <url>https://github.com/Vincit/gocd-slack-task</url>
        </vendor>
    </about>
</go-plugin>
